{% extends "layout.html" %}
{% block title %}Kontakt – MIKROBOT{% endblock %}
{% block content %}
<div class="row mb-4">
  <div class="col-12">
    <h1>Kontakt</h1>
    <p>
      Masz pytania lub chciałbyś dołączyć do naszego koła? Skontaktuj się z nami!
      Poniżej znajdziesz podstawowe dane kontaktowe. W razie pytań zachęcamy do kontaktu mailowego lub telefonicznego.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-4">
    <h4>Dane koła</h4>
    <ul class="list-unstyled">
      <li><strong>Adres:</strong> ul. Mickiewicza 1, 70‑000 Kamień, Polska</li>
      <li><strong>E‑mail:</strong> <a href="mailto:kontakt@mikrobot.edu.pl">kontakt@mikrobot.edu.pl</a></li>
      <li><strong>Telefon:</strong> +48 500 000 000</li>
    </ul>
    <h4>Godziny dyżurów</h4>
    <p>Spotkania odbywają się w każdą środę o 18:00 w sali 101A.</p>
  </div>
  <!-- Druga kolumna z formularzem kontaktowym została usunięta zgodnie z wymaganiami użytkownika. -->
</div>
{% endblock %}