{% extends "layout.html" %}

{% block title %}Ważne linki – MIKROBOT{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-12">
    <h1>Ważne linki</h1>
    <p>Poniżej znajdziesz przydatne odnośniki do stron partnerskich, materiałów
       edukacyjnych i zasobów związanych z działalnością koła MIKROBOT. Możesz
       uzupełnić tę listę, edytując szablon <code>important_links.html</code>
       lub rozbudowując aplikację o zarządzanie linkami w panelu administracyjnym.</p>
    <ul class="list-unstyled mt-3">
      <li><a href="https://www.python.org/" target="_blank">Python.org – oficjalna strona języka Python</a></li>
      <li><a href="https://flask.palletsprojects.com/" target="_blank">Flask – dokumentacja frameworka</a></li>
      <li><a href="https://www.robotics.org/" target="_blank">Robotics.org – IEEE Robotics</a></li>
    </ul>
  </div>
</div>
{% endblock %}